.timeCommitmentBtns .btn {
	margin-bottom: 10px;
}

.card {
	text-align: left;
}

#projectCardDifficulty1 {
	font-size: 10px;
}

.timeCommitmentBtns .btn {
	margin-bottom: 10px;
}

.card {
	text-align: left;
}

#projectCardDifficulty1 {
	font-size: 10px;
}

.uni {
	margin-top: 2rem;
}
.step_one {
	margin-top: 20%;
}