.timeCommitmentBtns .btn {
	margin-bottom: 10px;
}

.card {
	text-align: left;
}

#projectCardDifficulty1 {
	font-size: 10px;
}

.timeCommitmentBtns .btn {
	margin-bottom: 10px;
}

.card {
	text-align: left;
}

#projectCardDifficulty1 {
	font-size: 10px;
}

.uni {
	margin-top: 2rem;
}
.step_one {
	margin-top: 20%;
}

#progLangCheckboxesRow {
	margin-bottom: 0;
}

#input-progLang label {
	margin: 5px;
}

[type="checkbox"]+label {
	padding-left: 25px;
}