/* 
 * ===============================
 * BEGIN ABOUT YOU STYLING 
 * ===============================
*/
.collection {
	text-align: center;
}

#input-progLang label {
	margin: 5px;
}

[type="checkbox"]+label {
	padding-left: 25px;
}

.timeCommitmentBtns .btn {
	margin-bottom: 10px;
	width: 225px;
}

#submitButton {
	width: 150px;
}
/* 
 * ===============================
 * END ABOUT YOU STYLING 
 * ===============================
*/


/* 
 * ===============================
 * BEGIN PROJECTS STYLING 
 * ===============================
*/
.card {
	text-align: left;
}

#projectCardDifficulty {
	font-size: 10px;
}
/* 
 * ===============================
 * END PROJECTS STYLING 
 * ===============================
*/